<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Break Debug Blame</title>

        <link rel="shortcut icon" href="[images/favicon.ico]">

        <link rel="stylesheet" href="[theme.css]"/>
        <link rel="stylesheet" href="[app.css]"/>
    </head>
    <body>
        <div id="app-container">
            <router-view></router-view>
        </div>

        <script defer type="text/javascript" src="[theme.js]"></script>
        <script defer type="text/javascript" src="[vendor.js]"></script>
        <script defer type="text/javascript" src="[app.js]"></script>
    </body>
</html>